# Dependencies
node_modules/

# Next.js
.next/
.builds/
out/
build/

# Environment
.env
.env.bak
.env.local
.env.production

# Database
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build
dist/

.vercel
